<ng-container>
  <app-slider></app-slider>
</ng-container>

<div class="bg-dark pb-5">
    <h3 class="text-light pt-5 pb-2 px-5">Popüler Filmler</h3>
  <p-carousel
    [value]="popularMovies"
    [numVisible]="6"
    [numScroll]="4"
    [circular]="false"
  >
    <ng-template let-movie pTemplate="item">
        
      <div class="listing-item-style" style="width: 14rem" routerLink="/movies/{{movie.id}}">
        <div class="overlay">
          <div class="hover bg-success">FİLME GİT</div>
        </div>
        <img
          *ngIf="movie.poster_path"
          src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
            movie.poster_path
          }}"
        />
        <h6 class="text-light">{{ movie.title }}</h6>
        <p class="rate text-light my-2">
          <i class="pi pi-star text-warning"></i
          ><span>{{ movie.vote_average }}</span
          >/10
        </p>
        <p class="year">
          <span>{{ movie.release_date | date: "yyyy" }}</span>
        </p>
      </div>
    </ng-template>
  </p-carousel>
</div>
