<div class="content">
  <div class="listing">
    
    <div class="input-group w-50 mb-3">
      <input
        type="text"
        class="form-control searchInput"
        placeholder="Film ara"
        [(ngModel)]="filterText"
      />
      <button class="btn btn-danger px-4" (click)="searchMovies()" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>

    <ng-container *ngIf="searchResults">
      <div class="row">
        <div
          class="col-md-2 listing__items"
          *ngFor="let movie of searchResults | slice: 0:18"
        >
          <div routerLink="/movies/{{ movie.id }}">
            <div class="listing-item-style">
              <div class="overlay">
                <div class="hover bg-danger">FİLME GİT</div>
              </div>
              <img
                src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
                  movie.poster_path
                }}"
              />
              <h6 class="text-center text-light fw-normal">{{ movie.title }}</h6>
              <p class="rate text-light my-2">
                <i class="pi pi-star text-warning"></i
                ><span>{{ movie.vote_average }}</span> /10
              </p>
              <p class="year mb-3">
                <span>{{ movie.release_date | date: "yyyy" }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div
        class="col-md-2 listing__items"
        *ngFor="let movie of topRatedMovies | slice: 0:18"
      >
        <div routerLink="/movies/{{ movie.id }}">
          <div class="listing-item-style">
            <div class="overlay">
              <div class="hover bg-danger">FİLME GİT</div>
            </div>
            <img
              src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
                movie.poster_path
              }}"
            />
            <h6 class="text-center text-light fw-normal">{{ movie.title }}</h6>
            <p class="rate text-light my-2">
              <i class="pi pi-star text-warning"></i
              ><span>{{ movie.vote_average }}</span> /10
            </p>
            <p class="year mb-3">
              <span>{{ movie.release_date | date: "yyyy" }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="totalResults"
      [pageSize]="18"
      (page)="changePage($event)"
    ></mat-paginator>
  </div>
</div>
